ul{
 /*background:gray;*/
 list-style-type: none;
}
.addQ{
    position:fixed;
    right:0;
}
.liMsg{
 display: flex;
}
.divUnderMsg{
 margin-right: 4px;
 font-size:10px;
}
 a {
    color: black; /* Цвет обычной ссылки */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    font-size:23px;
   }
   a:visited {
    color: #800080; /* Цвет посещённой ссылки */
   }
   a:hover {
    color: #800000; /* Цвет ссылки при наведении на нее курсора мыши */
    text-decoration: underline; /* Добавляем подчеркивание */
   }
